{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
<h1 class="text-center">Tarefas</h1>
<h2>Escreva sua tarefa:</h2>
<form method="POST">
    <textarea name="tarefa" id="tarefa" class="form-control my-3"></textarea>
    <div class="form-check" id="afazer">
        <input type="checkbox" name="afazer" class="form-check-input" id="afazer" value="afazer">
        <label class="form-check-label" for="afazer">A fazer</label>
    </div>
    <div class="form-check" id="concluida">
        <input type="checkbox" name="concluida" class="form-check-input" id="concluida" value="concluida">
        <label for="form-check-label" for="concluida">Concluída</label>
    </div>
    <div class="form-check" id="nenhum"> 
        <input type="checkbox" name="nenhum" class="form-check-input" id="nenhum" value="nenhum">
        <label for="form-check-label" form="nenhum">Nenhum</label>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Adicionar Tarefa</button>
    </div>
</form>

    {% for tarefa in usuario.tarefas %}
        {% if tarefa.status == 'A fazer' %}
            <div class="tarefas_afazer">
                <li>
                    {{ tarefa.texto }}
                    <p>Status: {{ tarefa.status}}</p> 
                    <button type="button" onClick="alteraConcluido({{tarefa.id}})" id="botao">Concluída</button>
                    <button type="button" onClick="alteraAfazer({{tarefa.id}})" id="botao">A fazer</button>
                    <button type="button" onClick="alteraNenhum({{tarefa.id}})" id="botao">Nenhum</button>
                    <button type="button" onClick="deleteTarefa({{ tarefa.id }})" id="botao">Excluir tarefa</button>
                </li>
            </div>
        {% elif tarefa.status == 'Concluída' %}
            <div class="tarefas_concluida">
                <li>
                    {{ tarefa.texto }}
                    <p>Status: {{ tarefa.status}}</p> 
                    <button type="button" onClick="alteraConcluido({{tarefa.id}})" id="botao">Concluída</button>
                    <button type="button" onClick="alteraAfazer({{tarefa.id}})" id="botao">A fazer</button>
                    <button type="button" onClick="alteraNenhum({{tarefa.id}})" id="botao">Nenhum</button>
                    <button type="button" onClick="deleteTarefa({{ tarefa.id }})" id="botao">Excluir tarefa</button>
                </li>
            </div>
        {% elif tarefa.status == 'Nenhum' %}
            <div class="tarefas_nenhum">
                <li>
                    {{ tarefa.texto }}
                    <p>Status: {{ tarefa.status}}</p> 
                    <button type="button" onClick="alteraConcluido({{tarefa.id}})" id="botao">Concluída</button>
                    <button type="button" onClick="alteraAfazer({{tarefa.id}})" id="botao">A fazer</button>
                    <button type="button" onClick="alteraNenhum({{tarefa.id}})" id="botao">Nenhum</button>
                    <button type="button" onClick="deleteTarefa({{ tarefa.id }})" id="botao">Excluir tarefa</button>
                </li>
            </div>
        {% endif %}
    {% else %}  
        <li>Nenhuma tarefa cadastrada.</li>
    {% endfor %}
</ul>

{% endblock %}
