{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
<h1 class="text-center">Tarefas</h1>
<form method="POST">
    <textarea name="tarefa" id="tarefa" class="form-control my-3"></textarea>
    <div class="form-check">
        <input type="checkbox" name="afazer" class="form-check-input" id="afazer" value="marcada">
        <label class="form-check-label" for="afazer">A fazer</label>
    </div>
    <div class="form-check">
        <input type="checkbox" name="concluida" class="form-check-input" id="concluida" value="marcada">
        <label for="form-check-label" for="concluida">Concluída</label>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Adicionar Tarefa</button>
    </div>
</form>
<ul class="list-group list-group-flush" id="tarefas">

    <h3>filtro</h3>
    <div>
        <input type="checkbox" name="filtro-afazer" id="afazer" value="afazer">
        <label for="concluida">A fazer</label>
        <input type="checkbox" name="filtro-concluido" id="concluida" value="concluida">
        <label for="concluida">Concluida</label>
    </div>
    {% for tarefa in usuario.tarefas %}
        <li class="list-group-item">
            {{ tarefa.texto }}
            <!-- {{ tarefa.data}} -->
            {{ tarefa.status}}
            <button type="button" onClick="alteraConcluido({{tarefa.id}})">concluido</button>
            <button type="button" onClick="alteraAfazer({{tarefa.id}})">A fazer</button>
            <button type="button" class="close" onClick="deleteTarefa({{ tarefa.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    {% else %}
        <li>Nenhuma tarefa cadastrada.</li>
    {% endfor %}
</ul>

{% endblock %}