#botao{
    background-color: #007BFF;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.10);
    font-family: 'Arial, Helvetica, sans-serif'            
}
#botao:hover{
    background-color: #007BFF;
    border: none;
    font-size: 1.2em;
}
.tarefas_afazer{
    background-color: rgb(241, 150, 150);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.tarefas_concluida{
    background-color: lightgreen;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.tarefas_nenhum{
    background-color: lightblue;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
/* #afazer{
    background-color: rgb(241, 150, 150);
    border-radius: 5px;
}
#concluida{
    background-color: lightgreen;
    border-radius: 5px;
}
#nenhum{
    background-color: lightblue;
    border-radius: 5px;
} */